<div class="fully-centered">
  <form>
    <div class="align-items-center" style="width: 60%; margin: 20% auto">

      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Amount</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInput" placeholder="Amount">
        </div>
      </div>

      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup2">Identifier</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup2" placeholder="Identifier">
        </div>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Send</button>
      </div>

    </div>
  </form>
</div>