<div class="balances-ctn">
  <div class="balance">
    <label class="balance-label"> Balance: </label>
    <div id="balance-value-ctn">
      <div class="balance-value">
        {{mockUserData.balance}} £
      </div>
      <div class="balance-devise">
        SupCoin
      </div>
    </div>
  </div>

  <div class="balance">
    <label class="balance-label">Monthly balance: </label>
    <div id="monthly-balance-value-ctn">
    <span id="monthly-balance-in-value">
      <span class="balance-value">
        {{mockUserData.monthlyIn}} £
      </span>
      <span class="balance-devise">
        SupCoin
      </span>
    </span>
      <span id="monthly-balance-out-value">
      <span class="balance-value">
        {{mockUserData.monthlyOut}} £
      </span>
      <span class="balance-devise">
        SupCoin
      </span>
    </span>
    </div>
  </div>
</div>

<div id="last-transactions">
  <table>
    <tr>
      <th> Transaction ID </th>
      <th> Amount </th>
      <th> To/From </th>
      <th> Date </th>
    </tr>
    <tr *ngFor="let data of mockData">
      <td> {{data.id}} </td>
      <td> {{data.amount}}  </td>
      <td> {{data.to}}  </td>
      <td> {{data.date}}  </td>
    </tr>
  </table>
</div>
